doctype html
<html>
<head>
    <meta charset="utf-8" />
    block title
    block styles
    block scripts
</head>
<body class="page">
    include ../partials/header.pug
    block content
    include ../partials/footer.pug
</body>
<html>
