block title

block styles

block scripts

block content
  <h1>Table of content</h1>
  <nav>
    <ul>
      <li><a href="/codeDictionary">Code Dictionary</a></li>
      <li><a href="/englishTrainer">English Trainer</a></li>
      <li><a href="/toDo">To Do</a></li>
      <li><a href="/wallet">Wallet</a></li>
      <li><a href="/mediaList">Media List</a></li>
    </ul>
  </nav>
