extends ./layouts/mainLayout.pug

block title

block styles
  <link rel="stylesheet" type="text/css" href="/public/codeDictionary/styles/index.min.css">

block scripts

block content
  <h1>Internal server errorS</h1>
  <p>Connect to us: zekneer@gmail.com</p>
