<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="/public/codeDictionary/scripts/adminCreate.js" defer></script>
</head>

<body>
  <ul>
    each theme in themes
      <li><a href="/codeDictionary/admin/create/#{theme.theme_id}/subtheme">#{theme.theme_name}</a></li>
  </ul>

  <form class="theme" name="theme">
    <input type="text" name="themeName">
    <input type="button" value="Create theme" name="themeCreate">
  </form>

  <div class="serve__output"></div>
</body>

</html>
