$color-bg: rgb(255, 255, 255);
$color-font: rgb(0, 0, 0);

// #263544
$color-bg-main: #263544;
$color-bg-main-hover: lighten(saturate($color-bg-main, 0.49), 5.10);

$color-bg-light: lighten(saturate(adjust-hue($color-bg-main, -3), 30.90), 30.20);
$color-bg-dark: #1a2530;

$color-bg-theme-active: darken(desaturate(adjust-hue($color-bg-main, 6), 2.66), 5.49);
$color-bg-subtheme-active: darken(desaturate(adjust-hue($color-bg-main, 4), 1.42), 2.55);
$color-bg-sections: $color-bg-main;
$color-bg-admin-panel: $color-bg-main;

$color-bg-content: #fff;
$color-bg-chapter: lighten(saturate($color-bg-main, 35.23), 12.55);
$color-bg-chapter-text: #c0d7ee;

$color-font-bg-main: #fff;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

$font-roboto: 'Roboto', sans-serif;
$font-main: $font-roboto;

$font-size-lg: 16px;

$header-height-lg: 60px;
$footer-height-lg: 30px;

$right-panel-width: 250px;
$admin-panel-width: 100px;
