<!-- footer -->
<footer class="footer page__footer">
  <div class="bottom-navbar footer__bottom-navbar">
    <div class="bottom-navbar__version" data-version="#{dbVersion}">v. #{dbVersion}</div>
  </div>
  <div class="contacts footer__contacts">
    <div class="contacts__name">Andrew Molostvov</div>
    <div class="contacts__email">zekneer@gmail.com</div>
  </div>
</footer>
<!-- /footer -->
