<!-- header -->
<header class="header page__header">
  <div class="header__inner">
    <div class="navbar header__navbar">
      <div class="navbar__inner">
        <div class="navbar__logo">
          <a href="/codeDictionary">Code Dictionary</a>
        </div>
        <div class="navbar__menu-toggle">
          <div class="navbar__button-toggle">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="toggle-on" class="svg-inline--fa fa-toggle-on fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path d="M384 64H192C86 64 0 150 0 256s86 192 192 192h192c106 0 192-86 192-192S490 64 384 64zm0 320c-70.8 0-128-57.3-128-128 0-70.8 57.3-128 128-128 70.8 0 128 57.3 128 128 0 70.8-57.3 128-128 128z">
              </path>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <nav class="sections header__sections">
      <div class="sections__inner">
        <ul class="sections__list">
        </ul>
      </div>
    </nav>

    <div class="admin-panel header__admin-panel">
      <div class="admin-panel__inner">
        <div class="admin-panel__entry-point">
          if admin
            <span class="not-logged">Log In</span>
          else
            <span class="logged">Control</span>
        </div>
        <div class="admin-panel__panel">
          <ul>
            <li>Add new</li>
            <li>Edit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- /header -->
